body{
    background-color: rgb(192, 179, 179)
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

mark
{
    background-color: lightgrey;
}



table, th, td {
    border: 1px solid black;
  }
  table.center {
    margin-left: auto; 
    margin-right: auto;
  }

  th{
      background-color: rgb(76, 76, 180);
      color: lightgrey
  }

  h2{
      color:white;
      text-shadow: black;

  }

.center {
    margin: auto;
    text-align: center;
}

#flow {
    width: 750px;
    
}