body {
    background-color: rgb(119, 116, 116);
    margin: 0px;
}

canvas {
    background-color: white;
    border: 1px solid black;
    display: block;
    margin: auto;
}
h1 {
    color:red;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

h2 {
    color:white;
    text-shadow: black;
}

mark {
    background-color: lightgrey;
}

button {
  
    padding:1em;
    display:inline-block;
    background-color: seashell;
    align-content: center;
    margin:auto;
    width:200px;
    
}
a {
    color:red;
    text-decoration: none;
}

div {
   text-align: center; 
   padding:2em 1em;
    
}

audio {
    display: block;
    margin: auto;
}

.center {
    margin: auto;
    text-align: center;
}

.middle {
    vertical-align: middle;
    margin-top: 10em;
}

#maze {
    display: block;
    margin: auto;
}

#flow {
    width: 750px;
}

#nav {
    margin: 10px auto 5px;
    text-align: center;
}

#nav > a {
    padding: 0px 25px 0px;
    background-color: lightgrey;
}

#victoryText {
    /* https://stackoverflow.com/a/21335048 */
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}